h2 {{title}}
.row
  .col-xs-2
    form(role='form', novalidate, name='zipForm')
      .form-group
        label(for='zip') Enter Zip Code
        input.form-control#zip(required, autofocus, ng-pattern='/^[0-9]{5}$/', ng-model='zip', type='number', name='zip')
      .form-group
        button.btn.btn-primary(ng-show='zipForm.$valid', ng-click='getWebcams()') Submit
  .col-xs-10
.row
  #cams(ng-show='camStills')
    .cam(ng-repeat='cam in camStills', style='background-image: url("{{cam.CURRENTIMAGEURL}}")')
